# .gitignore

# Node modules
node_modules/

# Build directories
/dist/
/build/

# Logs
*.log

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Ignore coverage output directory
coverage/
*.lcov-report/