.button {
  color: #fff;
  border: 0;
  background-color: $primary-color;
  white-space: nowrap;
  border-radius: $border-radius;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  text-decoration: none;
  transition: background-color .3s cubic-bezier(.215, .61, .355, 1);
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  min-width: 150px;

  &:hover {
    background-color: $primary-color-dark;
  }

  &:disabled {
    background-color: $primary-color-light;
    cursor: not-allowed;
  }
}