@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        width: 0;
    }

    50% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.wiggle {
    animation: wiggle 0.5s ease-in-out;
}